.filter {
  .filter-buttons {
    display: flex;
    gap: 12px;
    padding: 12px;
    span {
      padding: 6px;
      background-color: black;
      color: white;
      border-radius: 24px;

      cursor: pointer;
    }
  }
}
