.NavBar {
  position: fixed;
  background-color: var(--bgColorLightOp);
  color: #fff;

  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 100;

  p {
    padding: 2px;
  }
  .NavLink:hover {
    background-color: var(--mainColor);
  }

  .row {
    @media (max-width: 400px) {
      padding: 0;
      justify-content: center;
    }
  }
}
.active {
  transition: 100ms linear;
  background-color: var(--mainColor);
  box-shadow: inset #00000080 0 0 0.5em;
}
