.NavBar {
  position: fixed;
  background-color: var(--bgColorLightOp);
  color: #fff;

  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 100;
  border-radius: 0 0 12px 12px;
  p {
    padding: 2px;
  }
  .NavLink:hover {
    background-color: var(--bgColor2);
    color: black;
  }
}
.active {
  transition: 100ms linear;
  background-color: var(--bgColor2);
  color: black;
  box-shadow: inset #00000080 0 0 0.5em;
}
