div{
    margin-left: 25%;
    margin-top: 5%;
    text-align: center;
    background-color: black;
    height: 75px;
    width: 50%;
    border-radius: 10px;
}

button{
    margin-top: 15px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

p{
    margin-top: 50px;
    color: whitesmoke;
    background-color: black;
}