.Modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000aa;

  .container {
    position: relative;
    z-index: 101;
    background-color: #121212;
    width: 80%;
    height: 60%;

    .gallery {
      height: 100%;
      img {
        max-width: 80%;
      }
    }
    .close {
      top: 0;
      right: 10px;
      position: absolute;
    }
  }
}
