.Modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000aa;

  .container {
    position: relative;
    z-index: 101;
    background-color: #121212;
    width: 80%;
    height: 60%;

    border-radius: 6px;
    .gallery {
      height: 100%;
    }
    .close {
      top: 0;
      right: 10px;
      position: absolute;
      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
