<div class="info">
  <p>
    “Passionné par l’art de capturer l’instant, je vous invite à découvrir mon
    univers où chaque cliché raconte une histoire. Mon site web est une vitrine
    de mon travail et de ma vision artistique. Que ce soit pour immortaliser les
    moments précieux de votre vie ou pour sublimer des paysages à couper le
    souffle, ma caméra est le pinceau avec lequel je peins la lumière et les
    émotions. Explorez ma galerie, laissez-vous inspirer par la beauté de
    l’instant figé et n’hésitez pas à me contacter pour toute collaboration
    photographique.”
  </p>
  <img [src]="profileSrc" alt="Profile img" />
</div>
