.info {
  background-color: var(--primary);

  display: flex;
  align-items: center;
  gap: 10px;
  p {
    font-style: italic;
  }
  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
}
