.gallery {
  background-color: var(--primary);
  h2 {
    text-align: center;
  }

  .gallery-grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto;
    justify-content: center;
    gap: 16px;
    margin: 16px 0;
  }
}
