.ProjectCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;

  border-bottom: solid 2px rgba(white, $alpha: 0.1);
  box-shadow: inset rgba(black, $alpha: 0.3) 0 0 1em;

  background-color: var(--bgColorLightOp);
  backdrop-filter: blur(10px);
  @media (max-width: 700px) {
    flex-direction: column-reverse;
  }
  .image {
    position: relative;
    img {
      height: 100%;
      &:hover {
        filter: brightness(60%);
      }

      @media (max-width: 700px) {
        width: 100%;
        display: none;
      }
    }
    .plus {
      position: absolute;
      width: 100%;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      top: 50%;
      left: 0;
      pointer-events: none;
    }
    @media (max-width: 700px) {
      height: 80px;
    }
    .isFinished {
      display: block;
      color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 3px;
    }
    .finished {
      background-color: green;
    }
    .inProgress {
      background-color: red;
    }
  }
  .text {
    width: 100%;
    p {
      max-width: 50%;
      @media (max-width: 920px) {
        max-width: 80%;
      }
    }
    h3 {
      text-align: center;
    }
    a {
      color: var(--mainColor);
      text-decoration: underline;
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      padding-left: 1rem;
      padding-right: 1rem;
      .tag {
        background-color: var(--mainColor);
        color: #fff;
        border-radius: 5px;
      }
    }
  }
}
