.ProjectCard {
  width: 100%;
  overflow: hidden;

  border-bottom: solid 2px rgba(white, $alpha: 0.1);
  box-shadow: inset rgba(black, $alpha: 0.3) 0 0 1em;

  img {
    background-color: white;
    z-index: -1;
  }
  .text {
    width: 100%;
    p {
      max-width: 75%;
    }
    h3 {
      text-align: center;
    }
    a {
      color: red;
    }
    .tag {
      background-color: white;
      color: #000;
      border-radius: 5px;
    }
  }
}
