h1{
    text-align: center;
}

#container{
    padding-top: 10px;
    background-color: rgb(191, 191, 134);
    border-radius: 15px;
}

body{
    background-color: beige;
}
div{
    margin: auto;
    width: 50%;
    padding-bottom: 20px;
}
#nbChar{
    width: 30px;
    height: 20px;
    border-radius: 10px ;
    border: none;
}
#input{
    width: 80%;
    text-align: center;
    border-radius: 10px ;
    border: none;
}

#generate{
    text-align: center;
}