 #mainContainer{
    width: 50%;
    background-color: red;
 }


 /** INPUT **/
 .pan{
   -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 10rem;
 }
 .pan::-webkit-slider-runnable-track{
   background: #053a5f;
   margin-bottom: 3px;
   
   height: 0.5rem;
   border-radius: 8px;


 }
 .pan::-webkit-slider-thumb{
   -webkit-appearance: none;
   appearance: none;
   margin-top: -8px;
   background: #5cd5eb;
   height: 24px;
   width: 18px;
   border-radius: 5px;
 }

 .pan::-moz-range-track{
   background: #053a5f;
   height: 0.5rem;
   border-radius: 8px;

 }

 .pan::-moz-range-thumb{
   border: none;
   background: #5cd5eb;
   height: 24px;
   width: 18px;
   border-radius: 5px;

 }
