body{
    background-color: #99152B;
}

h1{
    font-size: 48px;
    color: pink;
    background-color: #E63754;
    border-radius: 5px;
    padding-left: 10px;
}

h2{
    color: pink;
    border: 1px bisque solid;
    border-radius: 10px;
    padding: 5px;
    text-align: left;
    padding-left: 50px;
}

ul{
    list-style-type: none;

}

nav li{
    float: left;
    width: 10%;
    text-align: center;
}

nav{
    width: 100%;
    margin: 0 auto;
}

nav a{
    display: block;
    text-decoration: none;
    color: pink;
    border-bottom: 2px solid bisque;
    padding: 8px 0px;
}
nav a:hover{
    color: #99152B;
    background-color: bisque;
    border-radius: 8px;
}

section a{
    text-decoration: none;
    color: pink;
    display: block;
    padding: 10px;
    text-align: center;
}

section a:hover{
    color: #99152B;
    background-color: bisque;
    border-radius: 8px;
}

div{
    text-align: center;
}
