:root {
  font-family: "Roboto";
  color: white;
  scroll-behavior: smooth;
  line-height: 1.5rem;
  --bgColor: #222222;
  --bgColorLight: #282828;
  --bgColorLightOp: #2828288f;
  --bgColor2: #fff;
  --btnColor: #898989;
  --btnColorLight: #999999;
  --mainColor: #f81;
}
::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

html,
body,
main,
#root {
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-size: 1rem;
  @media (max-width: 920px) {
    font-size: 0.8rem;
  }
}
span {
  font-size: 1rem;
  @media (max-width: 920px) {
    font-size: 0.8rem;
  }
}
.App {
  position: relative;
}
.pointer {
  cursor: pointer;
}
.translate {
  transform: translateY(50px);
}
.fullheight {
  height: 100%;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.5s ease-in,
    opacity 0.5s ease-in;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.absolute {
  position: absolute;
}
.col {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.gap05 {
  gap: 0.5rem;
}
.gap15 {
  gap: 1.5rem;
}
.gap25 {
  gap: 2.5rem;
}
.fullcenter {
  align-items: center;
  justify-content: center;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.textcenter {
  text-align: center;
}
.mt08 {
  margin-top: 0.8rem;
}
.mb08 {
  margin-bottom: 0.8rem;
}
.mt1 {
  margin-top: 1rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.mt3 {
  margin-top: 3rem;
}
.mt15 {
  margin-top: 1.5rem;
}
.mg1 {
  margin: 1rem;
}
.bt {
  border-top: solid 1px #fff;
}
.bg {
  background-color: var(--bgColor);
}
.bg-light {
  background-color: var(--bgColorLight);
}
.pd02 {
  padding: 0.2rem;
}
.pd05 {
  padding: 0.5rem;
}
.pd15 {
  padding: 1.5rem;
}
.pdt25 {
  padding-top: 2.5rem;
}
.pdb15 {
  padding-bottom: 1.5rem;
}
.pdl1 {
  padding-left: 1rem;
}
.pdr1 {
  padding-right: 1rem;
}
.br12 {
  border-radius: 1.2rem;
}
.hoverScale {
  transition: 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
}

//ANIMATION
.animationFadeIn {
  animation:
    fade-in 1s ease-in,
    BTT 2s;
}
.animationSize {
  animation:
    size 0.5s ease-in,
    fade-in 0.5s ease-in;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

@keyframes BTT {
  from {
    transform: translateY(20vh);
  }
  to {
    transform: translateY(0vh);
  }
}
@keyframes size {
  from {
    transform: scale(0%);
  }
  to {
    transform: scale(100%);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "../pages/Home/Home.scss";
@import "../pages/Projects/Projects.scss";
@import "../pages/NotFound/NotFound.scss";
@import "../pages/Contact/Contact.scss";
@import "../components/App/App.scss";
@import "../components/HomeCard/HomeCard.scss";
@import "../components/Button/Button.scss";
@import "../components/NavBar/NavBar.scss";
@import "../components/ProjectCard/ProjectCard.scss";
@import "../components/ScrollBar/ScrollBar.scss";
@import "../components/Collapse/Collapse.scss";
@import "../components/Modal/Modal.scss";
@import "../components/Slider/Slider.scss";
