.container {
  .button {
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: var(--btnColor);
    color: red;
    &:hover {
      background-color: var(--btnColorLight);
    }
  }
}
