.card {
  width: 100%;
  max-width: 600px;
  @media (max-width: 680px) {
    max-width: 90%;
  }
  .outer {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .inner {
      position: relative;
      z-index: 1;
      margin: 2px;

      .text {
        text-align: justify;
        max-width: 90%;
      }
      .click {
        font-weight: 800;
      }
    }
    &::before {
      content: "";
      display: block;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(102, 102, 102, 0.75) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      position: absolute;
      height: 350%;
      width: 600px;
      animation: ease-in-out 10s infinite rotation;
      z-index: 0;
    }
  }
}
