.ScrollBar {
  z-index: 151;
  position: fixed;
  width: 0%;
  height: 6px;
  top: 1.7rem;
  border-radius: 0 2px 2px 0;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(250, 92, 19, 1) 30%,
    rgba(251, 101, 255, 1) 80%,
    rgba(255, 17, 162, 1) 100%
  );
  opacity: 0.8;
}
